.wrap {
    padding: 10px;
    border-top: 1px solid black;
}

.title {
    margin: 0;
    margin-bottom: 10px;
}

.author, .publisher {
    display: block;
}

.author {
    margin-bottom: 10px;

}

a {
    line-height: 0;
}

image {
    height: 500px;
    width: auto;
}