.header {
    background-color: var(--chakra-colors-grayLight);
}

.header__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    margin: 0 auto;
    max-width: 1850px;
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 55%;
}

.header__nav {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header__guest {
    font-family: 'Cardo';
}

.header__box-btn {
    display: flex;
    gap: 10px;
}

@media screen and (width < 768px) {
    .header__wrapper {
        display: contents;
    }

    .header__wrap {
        flex-wrap: wrap;
    }

    .select__content {
        justify-content: center;
        order: 3;
        flex: 1 1 100%;
    }

    .select__wrap {
        margin: 0 auto;
        max-width: 300px;
    }

    .header__nav-btn {
        display: block;
        border-radius: 6px;
        padding: 4px 6px;
    }

    .header__nav-btn:not(:last-child) {
        margin-bottom: 5px;
    }
}