.book__wrap {
    display: flex;
    align-items: center;
    gap: 20px;
}

.book__content {
    text-align: left;
}

.book__title {
    margin: 0;
    margin-bottom: 10px;
}

.book__author, .book__publisher {
    display: block;
    margin-bottom: 10px;
}

.book__description {
    margin: 0;
    margin-bottom: 10px;
}

.book__subtitle {
    margin: 0;
    margin-bottom: 5px;
}

.book__subtitle-svg {
    display: none;
}

.book__links {
    display: block;
    list-style: none;
    margin-bottom: 10px;
}

.book__list-item {
    margin-left: 10px;
}

.book__list-item:not(:last-child) {
    margin-bottom: 5px;
}

@media screen and (max-width: 768px) {
    .book__wrap img {
        align-self: start;
        width: 200px;
        height: auto;
    }

    .book__content h4 {
        border: 1px solid var(--chakra-colors-gray);
        border-radius: 4px;
        padding: 4px 6px;
        margin-bottom: 10px;
        width: fit-content;
        color: var(--chakra-colors-gray);
        cursor: pointer;
    }

    .book__subtitle-svg {
        display: inline-block;
    }

    .book__links {
        display: none;
    }

    .book__links--active {
        display: block;
    }
}

@media screen and (max-width: 576px) {
    .book__wrap {
        gap: 10px;
    }

    .book__title {
        margin-bottom: 5px;
    }

    .book__subtitle {
        margin-bottom: 5px;
        font-size: 12px;
    }

    .book__description, .book__links, .book__author, .book__publisher {
        margin-bottom: 5px;
        font-size: 12px;
    }

    .book__wrap img {
        width: 120px;
    }
}