.InputSearch {
    padding: 5px 20px 20px;
    width: 100%;
    background-color: var(--chakra-colors-grayLight);
}

.InputSearch__wrap {
    position: relative;
    margin: 0 auto;
    width: 45%;
    max-width: 550px;
}

.InputSearch__form {
    text-align: left;
}

.InputSearch__label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
}

.InputSearch__wrapper {
    display: flex;
    border: 1px solid black;
    border-radius: 4px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 8px #9f9e9e;
    overflow: hidden;
}

.InputSearch__input {
    padding: 5px;
    border: none;
    border-right: 1px solid black;
    width: 100%;
}

.InputSearch__input:focus {
    outline: none;
}

.InputSearch__button {
    display: block;
    padding: 5px 10px;
    border: none;
    background-color: var(--chakra-colors-gray);
    color: #fff;
    overflow: hidden;
    cursor: pointer;
}

@media screen and (width < 768px) {
    .InputSearch__wrap {
        width: 100%;
    }
}