body {
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 360px;
}

.btn {
  transition: 0.2s background-color ease-in-out;
}

.btn:focus {
  outline: none;
}

.btn:hover, .btn:active {
  background-color: #9f9e9e;
}

.main {
  padding: 20px;
  margin: 0 auto;
  max-width: 1850px;
}